.header{
    display:flex;
    background-color: violet;
    height: 300px;
    border: 2px solid black;
    gap:10px;
    padding:10px;

}
.header > div{
    background-color: aliceblue;

    width: 20px;
} 
.header > .div5{
    align-self:stretch;
    height:auto;
    margin-left:auto ;
} 
